body {
    background-image: url("background.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #111;
}
.volver {
color: rgb(255, 255, 255);
 text-justify: center;
 background-color: rgba(255, 255, 255, 0);
 backdrop-filter: blur(50px);
 border-radius: 5px;
 font-size: 1.2em;
 align-items: flex-end;
 display: flex;
 margin-top: auto;
 margin-left: auto;
 margin-right: auto;
}

.volver a {
color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0.075);
text-align: center right;
font-size: 1.0em;
}